@use './variables.scss' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: $primary_white;

}

/* Reset rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common style */

.container-fluid {
  width: 100%;
  padding: 0px 8px;
}

.hidden {
  display: none;
}

// Buttons

button {

  background-color: $primary_white;
  border: none;

  width: 180px;
  height: 50px;

  a {

      text-decoration: none;
      font-size: 12px;
      text-transform: uppercase;

      color: $primary_color;
  }

}