@use './variables.scss' as *;

:root {
  font-family: "Poppins", sans-serif;

  background-color: $primary_white;

}

/* Reset rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common style */

.container {
  width: 100%;
  padding: 0px 8px;
}

.hidden {
  display: none;
}

// Titoli

// JUMBO

h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: $primary_white;

  padding-bottom: 20px;
}

h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: $primary_white;

  padding-bottom: 60px;

}

// Tutti altri elementi

h4 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;

  padding-bottom: 35px;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;

  padding-bottom: 60px;

}


// Buttons

button {

  background-color: $primary_white;
  border: none;

  width: 180px;
  height: 50px;

  &:hover {
    background-color: $primary_color;
    a {
      color: $primary_white;
    }
  }

  a {

    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;


    color: $primary_color;

  }

}